{
  "openapi": "3.0.0",
  "info": {
    "title": "Sonatta SaaS API",
    "description": "API REST para gerenciamento de clínicas auditivas",
    "version": "1.0.0",
    "contact": {
      "name": "Sonatta Support",
      "email": "support@sonatta.com.br",
      "url": "https://sonatta.com.br/support"
    }
  },
  "servers": [
    {
      "url": "https://api.sonatta.com.br",
      "description": "Production"
    },
    {
      "url": "http://localhost:5173",
      "description": "Development"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Client": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "full_name": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string" },
          "cpf": { "type": "string" },
          "status": { "type": "string", "enum": ["lead", "cliente_ativo", "pos_venda"] },
          "created_date": { "type": "string", "format": "date-time" },
          "updated_date": { "type": "string", "format": "date-time" }
        },
        "required": ["full_name", "phone"]
      },
      "Sale": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "sale_number": { "type": "string" },
          "client_id": { "type": "string" },
          "sale_date": { "type": "string", "format": "date" },
          "total": { "type": "number" },
          "status": { "type": "string", "enum": ["pendente", "pago", "cancelado"] },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": { "type": "string" },
                "quantity": { "type": "number" },
                "unit_price": { "type": "number" },
                "total": { "type": "number" }
              }
            }
          }
        },
        "required": ["client_id", "items", "total", "sale_date"]
      }
    }
  },
  "paths": {
    "/entities/Client": {
      "get": {
        "tags": ["Clients"],
        "summary": "List all clients",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "skip", "in": "query", "schema": { "type": "integer" }, "description": "Number of records to skip" },
          { "name": "limit", "in": "query", "schema": { "type": "integer" }, "description": "Number of records to return" }
        ],
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Client" } }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Clients"],
        "summary": "Create a new client",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Client" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Client" }
              }
            }
          }
        }
      }
    },
    "/entities/Sale": {
      "get": {
        "tags": ["Sales"],
        "summary": "List all sales",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of sales",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Sale" } }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Sales"],
        "summary": "Create a new sale",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Sale" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sale created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Sale" }
              }
            }
          }
        }
      }
    },
    "/functions/checkPlanLimits": {
      "post": {
        "tags": ["Planning"],
        "summary": "Check if tenant reached plan limits",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_type": { "type": "string", "description": "Entity type to check (e.g., 'Client', 'Sale')" }
                },
                "required": ["entity_type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Limit check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allowed": { "type": "boolean" },
                    "current": { "type": "integer" },
                    "limit": { "type": "integer" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}